@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --backgroundColor: #0F0D13;
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--backgroundColor);
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

.tab-center{
  display: flex;
}

.tab{
  padding-right: 100px;
}

.tab-center .tab p{
  line-height: 17px;
  font-size: 18px;
  color: #fff;
}

.input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
}

.input {
  font-size: 18px;
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: #29282D;
  border: none;
}

.input:focus{
  outline: 2px solid #9333E8;
}

.input:hover {
  background-color: #3A393D;
}

form button {
  border: none;
  background: #9333E8;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
  letter-spacing: 0.1em;
  transition: 0.5s all ease;
}

form button:hover {
  transition: 0.9s all ease;
  letter-spacing: 0em;
  background: #7325b8;
}

.paragrafo-res{
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
    color: #9333E8;
}

.bad{
  font-size: 18px;
  font-weight: 600;
  margin-top: 25px;
  color: rgb(214, 63, 63) !important;
}

.input-error{
  border: 2px solid rgb(214, 63, 63) !important;
}

form{
  margin-top: 50px;
}

.container h2{
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}